@{
    ViewData["Title"] = "Корзина товаров";
}


<div id="basket">
    <basket-render></basket-render>    
</div>

@section Css {
    <link href="~/css/Basket/basket.css" rel="stylesheet" />
}

@section Scripts {

    <script src="~/js/Components/Basket/ProductBasket.js"></script>
    <script src="~/js/Components/Basket/BasketComponent.js"></script>

    <script>
        var discountProductApp = new Vue({
            el: '#basket',
            components: {
                'basket-render': basket
            }
        });


    </script>
}