@model ProductMarketModels.ViewModels.Basket.Basket
@{
    ViewData["Title"] = "Корзина товаров";
}



<h1>@ViewData["Title"]</h1>

<p>Добро пожаловать на корзину товаровов))</p>

<a href="#">content</a>

<div id="basket">
    <p>{{basket}}</p>
    <p>{{data}}</p>
    <p>{{test}}</p>
    <input class="btn btn-primary" type="button" v-on:click="testMethod" name="name" value="Загрузить данные" />
</div>



@section Scripts {

    <script>
        var newProducts = new Vue({
            el: '#basket',
            data: () => ({
                basket: null,
                test: 'item))'
            }),
            mounted() {
                axios.get(('GetCartJson'))
                        .then(
                            response => {
                                this.basket = response.data;
                            });
            },
            methods: {
                testMethod: function () {

                    this.basket.userName = '@User.Identity.Name';

                    axios.post((urlApi + 'api/basket/getBasketProducts'), this.basket)
                    .then(
                        response => {
                            //this.data = response.data;
                        });
                }
            }
        });
    </script>
}