@model string

@{
    ViewData["Title"] = "Корзина товаров";
}



<div id="basket">
    <basket-render currency=@Model></basket-render>
</div>

@section Css {
    <link href="~/css/Basket/basket.css" rel="stylesheet" asp-append-version="true"/>
}

@section Scripts {

    <script asp-append-version="true" src="~/js/Components/Basket/ProductBasket.js"></script>
    <script asp-append-version="true" src="~/js/Components/Basket/BasketComponent.js"></script>

    <script>
        var discountProductApp = new Vue({
            el: '#basket',
            components: {
                'basket-render': basket
            }
        });


    </script>
}