

<div class="container-fluid">

    <h3>Политика доставки</h3>


    <div class="mt-3">
        <h5>Доставка информационных услуг и товаров</h5>
        <div class="content mt-3">
            <p>
                Доставка осуществляется в виде данных (ссылку) на программное обеспечение или другие информационные услуги
                сразу после оплаты выбранной продукции на email почту зарегистрированного пользователя.
                По мимо прочего, пользователь имеет доступ в любое время в своем личном кабинете
            </p>
        </div>
    </div>
    
    <div class="mt-3">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae710b4bbe79e05a37d805f9b0e27a23db6b289075cdb9f3460241f3429607349&amp;width=644&amp;height=580&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>

</div>