

<div class="mt-3 container-fluid">
    <h3>Условия предоставления услуг</h3>

    <div align="center">
        <b>ДЕЙСТВУЮЩАЯ ПУБЛИЧНАЯ ОФЕРТА </b>
        <br>
        <b> </b>
        <br>
        <b> О ПРЕДОСТАВЛЕНИИ УСЛУГ</b>
        <br />
        <span class="text-muted">Дата создания 06.06.2021</span>
        <br>
    </div>


    <p class="mt-3">
        Общество с ограниченной ответственностью <b>«OMNITRADE B LTD»</b>, именуемое в дальнейшем «OMNITRADE B LTD», предлагает любому физическому лицу, достигшему совершеннолетия,
        а также любому юридическому лицу, в лице полномочного представителя,
        в дальнейшем именуемым «Пользователь», платное программное обеспечение, которое предоставляется в информационном услуги на сайте <a href="https://busmansoft.com/">https://busmansoft.com</a> под названием Business Management Software (далее – «BusManSoft»).
    </p>
    <p>
        Настоящее предложение является публичной офертой (далее – «Договор»), полным и безоговорочным принятием (акцептом) условий которой
        считается регистрация на сайте <a href="https://busmansoft.com/">https://busmansoft.com</a>, которая является подтверждением согласия с действующей офертой. <br><br>
        <strong>1. ПРЕДМЕТ ДОГОВОРА</strong>
    </p>
    <p>
        1.1. <b>«OMNITRADE B LTD»</b> обязуется оказывать Пользователю услуги, связанные с предоставлением доступа к программу продукту «BusManSoft»
        и иным информационным материалам в электронном виде, которые размещаются на сайте <a href="https://busmansoft.com/">https://busmansoft.com</a>,
        а также дополнительные надстройки к программному продукту «BusManSoft» и информационные услуги в форме участия на различных семинарах, лекциях, мероприятиях, интернет-курсах, вебинарах и т.д. (далее – «Услуги»).
        <br><br>1.2. Пользователь своевременно оплачивает и принимает программный продукт «BusManSoft» в зависимости от набора необходимого функционала.
    </p>
    <p><strong>2. УСЛОВИЯ ОКАЗАНИЯ УСЛУГ</strong></p>
    <p>
        2.1. Доступ Пользователя к платным Услугам сервиса <a href="https://busmansoft.com/">https://busmansoft.com/</a> предоставляется:
        <br>
        <br> 2.1.1. После регистрации на сайте под своими учетными данными (прим. все данные хранятся в зашированном виде);
        <br>
        <br>2.1.2. после авторизации в качестве зарегистрированного пользователя путем ввода персональных учетных данных в виде логина и пароля пользователя;
    </p>
    <p>2.1.3. Выбор подходящих услуг;&nbsp;</p>
    <p>2.1.4. Оплата через системы электронных платежей;</p>
    <p>
        2.2. Пользователь не имеет права передавать свои права по Договору какой-либо третьей стороне.
        <br><br>2.3. Пользователь не вправе передавать регистрационные данные персонального аккаунта (логин и пароль), предназначенные
        для авторизации на сайте <a href="https://busmansoft.com/">https://busmansoft.com/</a>,
        и обязуется обеспечивать сохранность и конфиденциальность этих данных.
        Все операции, осуществленные на сайте <a href="https://busmansoft.com/">https://busmansoft.com/</a> с использованием логина и пароля Пользователя,
        считаются осуществленными Пользователем.
        «OMNITRADE B LTD» не несет ответственности за несанкционированное использование регистрационных данных Пользователя третьими лицами.
    </p>
    <p>
        2.4. Пользователь уведомлен и соглашается с тем, что «OMNITRADE B LTD» имеет за собой право устанавливать по собственному усмотрению дополнительные
        ограничения при оказании отдельных видов Услуг программного продукта «BusManSoft», в частности ряд Услуг предоставляется только владельцам определенных программных продуктов,
        зарегистрировавшим приобретенную лицензионную копию программного продукта, определенные виды Услуг недоступны Пользователям.
        «OMNITRADE B LTD» вправе отказать в предоставлении Услуг лицам, которые используют
        или намерены использовать Услуги для каких-либо незаконных целей, а равно лицам, которые предпринимают попытку получить Услугу незаконным способом.
    </p>
    <p>
        2.5. Пользователь уведомлен и обязан учитывать тот факт, что программное обеспечение, иные информационные материалы,
        к которым он получает доступ в ходе оказания Услуг,
        являются объектом исключительного права «OMNITRADE B LTD» и/или иных правообладателей,
        защищаются законодательством об интеллектуальной собственности и прочими соответствующими российскими и международными законами.
    </p>
    <p>
        2.6. Если иное не вытекает из содержания определенной услуги и не указано на сайте <a href="https://busmansoft.com/">https://busmansoft.com/</a>
        Услуги оказываются Пользователям круглосуточно, семь дней в неделю, включая выходные и праздничные дни.
    </p>
    <p>
        2.7. «OMNITRADE B LTD» вправе приостанавливать оказание Услуг всем Пользователям или отдельным Пользователям по причинам технологического характера
        (профилактические работы, обновление программного или аппаратного обеспечения и т.п.), а также в иных случаях, предусмотренных настоящим Договором.
    </p>
    <p>2.8. «OMNITRADE B LTD» вправе привлекать третьих лиц для оказания Услуг Пользователю.</p>

    <p><strong>3. ОБЯЗАТЕЛЬСТВА СТОРОН</strong></p>
    <p>3.1. «OMNITRADE B LTD» обязуется:</p>
    <p>3.1.1. оказать Пользователю Услуги в соответствии с условиями Договора;</p>
    <p>3.1.2. вести учет потребления и оплаты Услуг Пользователем;</p>
    <p>
        3.1.3. публиковать официальные новостные сообщение, связанные с обслуживанием Пользователей на сайте
        <a href="https://busmansoft.com/">https://busmansoft.com/</a> и/или извещать Пользователя путем отправки информации
        об изменениях на электронный адрес Пользователя, указанный при регистрации.
    <p>3.1.4. оформлять универсальные передаточные документы (далее УПД) на оказание Услуг для Пользователей – юридических лиц.</p>
    <p>3.1.5. Хранить персональные данные / учетные записи в зашифрованном виде</p>

    <p>3.2. Пользователь обязуется:</p>
    <p>3.2.1. своевременно и в полном объеме производить оплату Услуг программного обеспечения;</p>
    <p>3.2.2. принимать Услуги, предоставляемые «OMNITRADE B LTD»;</p>
    <p>3.2.3. следить за своевременным получением УПД от «OMNITRADE B LTD» – для юридических лиц;</p>
    <p>
        3.2.4. строго выполнять условия Договора и правила сайта <a href="https://busmansoft.com/Oferta/Oferta">оферты</a>;
        <br><br>3.2.5. самостоятельно знакомиться с официальной информацией от «OMNITRADE B LTD», публикуемой в порядке, предусмотренной Договором;
    </p>
    <p>
        3.2.6. незамедлительно известить «OMNITRADE B LTD» о случаях утери либо хищения пароля доступа к личной информации Пользователя на сайте
        <a href="https://busmansoft.com/">https://busmansoft.com/</a>;;
    </p>
    <p>3.2.7. хранить не менее года доказательства оплаты Услуг (платежные карты, квитанции, иные платежные документы).</p>

    <p><strong>4. СТОИМОСТЬ УСЛУГ И ПОРЯДОК РАСЧЕТОВ</strong></p>
    <p>4.1. Стоимость Услуг определяется в соответствии с ценами на Услуги, указанными на сайте <a href="https://busmansoft.com/">https://busmansoft.com/</a></p>
    <p>
        4.2. Оплата Услуг путем безналичного перевода производится Пользователем на основании счета на Услуги, с
        формированного посредством пользовательского интерфейса в виде корзины товаров.
    </p>
    <p>4.3. Оплата Услуг производится Пользователем в евро.</p>
    <p>
        4.4. Пользователь обязан удостовериться в правильности реквизитов, по которым производится оплата Услуг программного продукта «BusManSoft».

    </p>
    <p>
        4.5. При изменении банковских реквизитов «OMNITRADE B LTD», с момента опубликования новых реквизитов на сайте
        <a href="https://busmansoft.com/">https://busmansoft.com/</a>,
        Пользователь самостоятельно несет ответственность за платежи, произведенные по устаревшим реквизитам.
    </p>
    <p>
        4.6. В целях Договора принимается оплата Услуг способами, перечисленными в разделе «Корзина», которая доступна после авторизации в Профиле или по нажатию кнопки "Оплатить"
        на сайте <a href="https://busmansoft.com/">https://busmansoft.com/</a>.
    <p>4.7. Выбор и использование способа/формы оплаты Услуг производится Пользователем по собственному усмотрению.</p>
    <p>
        4.8. Пользователь обязан учитывать тот факт, что некоторые способы оплаты, предполагают участие третьих лиц в расчетах между «OMNITRADE B LTD»
        и Пользователем, в связи с чем «OMNITRADE B LTD» не может отвечать за действия или бездействие таких лиц.
        Вопросы безопасности, конфиденциальности персональных данных, величина комиссий и процентов за перевод средств согласовываются
        Пользователем с этими третьими лицами самостоятельно и не являются предметом настоящего Договора.
    </p>
    <p>
        4.9. Услуги считаются оплаченными Пользователем с момента получения от «OMNITRADE B LTD»:
        <br><br>- подтверждения из банка о поступлении суммы оплаты на расчетный счет «OMNITRADE B LTD»;
        <br><br>- реквизитов карты доступа сайта <a href="https://busmansoft.com/">https://busmansoft.com/</a> и проверки ее действительности;
        <br><br>- подтверждения оплаты от системы, через которую был совершен платеж.
    </p>
    <p>
        4.10. Пользователь соглашается с тем, что для определения объема потребленных Пользователем Услуг,
        учета объема взаимных прав и обязательств по оказываемым Услугам и их общей суммы,
        используются исключительно данные сайта <a href="https://busmansoft.com/">https://busmansoft.com/</a>,
        формируемые по результатам автоматизированной обработки действий Пользователя, авторизовавшегося с помощью логина и пароля,
        и цен на Услуги, указанных на сайте <a href="https://busmansoft.com/">https://busmansoft.com/</a>,
        действовавших на момент оказания услуги.
    </p>

    <p><strong>5. ПРОЦЕДУРА СДАЧИ И ПРИЕМКИ УСЛУГ</strong></p>
    <p>
        5.1. Факт сдачи-приемки Услуг отражается в пользовательском интерфейсе сайта в разделе "Профиль", который доступен после авторизации на сайте
        <a href="https://busmansoft.com/">https://busmansoft.com/</a>
    </p>
    <p>
        5.2. В случае если Пользователь является юридическим лицом, сдача-приемка услуг производится по УПД, УПД &nbsp;считается предоставленным Пользователю
        для ознакомления и направления возражений с момента, когда электронная копия УПД станет доступна Пользователю на сайте
        <a href="https://busmansoft.com/">https://busmansoft.com/</a>.
        <br><br>5.4. С начала каждого календарного месяца Пользователь обязан знакомиться с электронными копиями УПД, размещенными в разделе
        «Заказы», который находится в личном профиле пользовательского интерфейса сайта <a href="https://busmansoft.com/">https://busmansoft.com/</a>,
        Не позднее семи рабочих дней с момента размещения соответствующего УПД на сайте Пользователь может направить в «OMNITRADE B LTD» письменный мотивированный отказ
        от подписания УПД (в т.ч. посредством факсимильной или электронной связи с обязательным последующим предоставлением оригинала почтовой или курьерской связью).
        <br><br>5.5. Если в указанный выше семидневный срок Пользователь не направил в «OMNITRADE B LTD» письменный мотивированный отказ от подписания УПД,
        услуги считаются оказанными «OMNITRADE B LTD» надлежащим образом и принятыми Пользователем в полном объеме. При этом бумажные экземпляры УПД, подписанные со стороны
        «OMNITRADE B LTD», направляются письмом по почтовому адресу юридического лица, указанному Пользователем.
    </p>
    <p>
        <br><br><strong>6. УСЛОВИЯ ИСПОЛЬЗОВАНИЯ ИНФОРМАЦИОННЫХ МАТЕРИАЛОВ САЙТА</strong>
        <br><br>6.1. Порядок использования программных продуктов и иных информационных материалов в цифровой форме, к которым Пользователь получает доступ на сайте
        <a href="https://busmansoft.com/">https://busmansoft.com/</a> в ходе оказания Услуг,
        устанавливается правообладателями соответствующих информационных материалов и отражается в лицензионных соглашениях или иных документах в виде технических документаций,
        сопровождающих соответствующий продукт или материал.
    </p>
    <p>
        6.2. Если иное не установлено правообладателем, материал, к которому Пользователь получил доступ, может быть загружен и
        воспроизведен в памяти только <b>одного</b> вычислительного устройства, принадлежащего Пользователю, и
        использован по его прямому назначению (т.е. в соответствии с рекомендациями производителя) на этом устройстве.
        Никакие иные права на использование материалов Пользователь не получает.
        <br><br>6.3 Для приобретения права использования некоторых наименований программ
        для ЭВМ, представленных на сайте <a href="https://busmansoft.com/">https://busmansoft.com/</a>,
        требуется заключение лицензионного договора. Условия лицензионного договора и порядок их принятия доводятся до Пользователя в процессе формирования заказа.
        Положения Публичной оферты о предоставлении услуг применяются к отношениям, возникшим в результате заключение лицензионного договора, в той части,
        в которой не противоречат его условиям.
        <br><br>6.4. Пользователь обязуется соблюдать установленные действующим законодательством запреты на обход
        технических средств защиты авторского права и смежных прав, применяемых правообладателями некоторых продуктов и материалов.
    </p>
    <p>
        6.5. За нарушение установленного порядка использования материалов, являющихся объектами интеллектуальной собственности,
        к которым Пользователь получает доступ в ходе оказания Услуг, Пользователь несет ответственность согласно действующего законодательства.
    </p>


    <p>
        <br><br><strong>7. СРОК ДЕЙСТВИЯ И ИЗМЕНЕНИЕ УСЛОВИЙ ПУБЛИЧНОЙ ОФЕРТЫ</strong>
        <br><br>7.1. Данная редакция Публичной Оферты вступает в силу с момента опубликования в сети Интернет на сайте
        <a href="https://busmansoft.com/">https://busmansoft.com/</a> и действует до момента отзыва «OMNITRADE B LTD».
        <br><br>7.2. «OMNITRADE B LTD» оставляет за собой право внести изменения в условия Публичной Оферты и/или отозвать Публичную Оферту в любой момент
        по своему усмотрению. В случае внесения «OMNITRADE B LTD» изменений в Публичную Оферту, такие изменения вступают в силу с момента опубликования,
        если иной срок вступления изменений в силу не определен дополнительно при их опубликовании.
    </p>

    <p><strong>8. СРОК ДЕЙСТВИЯ И ИЗМЕНЕНИЕ ДОГОВОРА</strong></p>
    <p>
        8.1. Договор вступает в силу с момента принятия его условий Пользователем (акцепта Оферты) и действует до момента
        его расторжения или прекращения по иным основаниям, предусмотренным в Договоре.
    </p>
    <p>
        8.2. Пользователь соглашается и признает, что внесение изменений в Публичную Оферту и опубликование на сайте
        <a href="https://busmansoft.com/">https://busmansoft.com/</a> ее новой редакции влечет за собой изменение условий заключенного и действующего
        между Пользователем и «OMNITRADE B LTD» Договора, и эти изменения начинают применяться к отношениям между «OMNITRADE B LTD» и Пользователем по истечении
        пяти рабочих дней после опубликования на сайте новой редакции Публичной Оферты.
    </p>
    <p>
        8.3. Факт удаления настоящей Оферты с сайта означает отзыв публичной оферты. «OMNITRADE B LTD» не будет связано обязательствами по
        заключению новых договоров после удаления с сайта Оферты.
    </p>

    <p><strong>9. РАСТОРЖЕНИЕ ДОГОВОРА</strong></p>

    <p>9.1. Пользователь вправе в любое время в одностороннем порядке отказаться от программному продукта «BusManSoft» и Услуг «OMNITRADE B LTD» путем расторжения Договора.</p>
    <p>
        9.2. «OMNITRADE B LTD» вправе расторгнуть Договор с Пользователем в случае нарушения Пользователем условий настоящего Договора.
        Договор считается прекращенным с момента направления уведомления «OMNITRADE B LTD» Пользователю.
    </p>
    <p>
        9.3. В случае если на момент прекращения или расторжения Договора стоимость оплаченных Пользователем Услуг
        ревышает стоимость фактически оказанных Пользователю Услуг, то разница между указанными суммами может быть возвращена
        ользователю по его письменному заявлению, если оплата услуг была осуществлена банковским переводом.
    </p>
    <p>
        9.4. Возврат денежных средств, зачисленных способами, отличными от банковского перевода и
        оплатой при помощи банковской карты (в частности, с использованием электронных платежных систем, карт оплаты, sms-оплаты) - не производится.
    </p>
    <p>
        9.5. Возврат неиспользованных денежных средств осуществляется только в безналичной форме по указанным Пользователем банковским реквизитам.
        К заявлению о возврате денежных средств, исходящему от юридического лица, должен быть приложен документ, подтверждающий полномочия лица,
        подписавшего заявление (доверенность, решение о назначении/избрании исполнительного органа и т.п.).
    </p>
    <p>
        9.6. В случае, если Пользователь не проявляет активности с помощью с помощью своего логина и пароля операций на сайте
        <a href="https://busmansoft.com/">https://busmansoft.com/</a> более года,
        «OMNITRADE B LTD» вправе приостановить оказание Услуг такому Пользователю, направив уведомление с перечнем необходимых действий для возобновления оказания Услуг.
        В случае если Пользователь, тем не менее, не совершит необходимых действий, подтверждающих его намерение пользоваться Услугами, «OMNITRADE B LTD»
        по истечении трех лет с даты совершения последней операции указанным Пользователем вправе в одностороннем порядке отказаться от исполнения настоящего Договора.
    </p>

    <p><strong>10. ГАРАНТИИ И ПРЕДВАРИТЕЛЬНЫЕ ЗАЯВЛЕНИЯ </strong></p>
    <p>
        10.1. В течение срока действия Договора «OMNITRADE B LTD» будет предпринимать разумные усилия для устранения каких-либо сбоев и ошибок
        в функционировании сайта <a href="https://busmansoft.com/">https://busmansoft.com/</a>, которые способны затруднить потребление программного
        продукта «BusManSoft» и Услуг.
        Тем не менее, «OMNITRADE B LTD» не гарантирует полного отсутствия ошибок и сбоев при пользовании Услугами и оставляет за
        собой право приостанавливать на время оказание Услуг по причинам технологического характера.
    </p>
    <p>
        10.2. В отношении некоторых программных продуктов и информационных материалов, к которым
        Пользователь получает доступ в процессе оказания Услуг, их производителями могут быть установлены определенные дополнительные гарантийные обязательства
        по качеству и последующей технической поддержке. Однако, «OMNITRADE B LTD», если не указано иное, не является уполномоченной такими
        производителями организацией и самостоятельно не принимает на себя никаких гарантийных обязательств и обязательств по поддержке и консультированию.
        «OMNITRADE B LTD» предоставляет Пользователю доступ к программным продуктам и информационным материалам в том виде и такого качества, в каком они предоставлены
        производителями («как есть»), при этом «OMNITRADE B LTD» не гарантирует отсутствие в них ошибок и недостатков, и не берет на себя обязательств по
        обеспечению соответствия этих продуктов и материалов целям, для которых они приобретаются Пользователем.
        <br><br>10.3. «OMNITRADE B LTD» не гарантирует надлежащее функционирование (воспроизведение) программных продуктов и информационных материалов,
        доступ к которым предоставляется в процессе оказания Услуг, в среде конкретных аппаратных и программных средств Пользователя.
        Пользователь самостоятельно, на свое усмотрение и на свой риск выбирает соответствующую Услугу, с учетом характеристик имеющихся у него конкретных
        аппаратных и программных средств.
    </p>
    <p>
        10.4. Соглашаясь с условиями настоящей Публичной Оферты и совершая действия, свидетельствующие о ее акцепте, Пользователь заверяет «OMNITRADE B LTD»
        и гарантирует «OMNITRADE B LTD», что:
    </p>
    <p>
        10.4.1. он указывает достоверные сведения при регистрации на сайте
        <a href="https://busmansoft.com/">https://busmansoft.com/</a>, при оформлении заказов на Услуги, при производстве платежей;
        <br><br>10.4.2. он обладает необходимой дееспособностью и правоспособностью, достаточными полномочиями, н
        еобходимыми для заключения и исполнения настоящего Договора;
    </p>
    <p>
        10.4.3.
        Пользователь обладает достаточными познаниями для осознанного выбора Услуг с учетом характеристик имеющихся у него конкретных аппаратных и программных средств.
    </p>

    <p><strong>11. ОТВЕТСТВЕННОСТЬ СТОРОН </strong></p>
    <p>
        11.1. Пользователь несет всю ответственность за достоверность сведений, указанных им при регистрации в качестве
        пользователя Услуг сайта <a href="https://busmansoft.com/">https://busmansoft.com/</a>, и действительность гарантий и предварительных заявлений,
        сделанных в соответствии с разделом 10 Публичной Оферты.
    </p>
    <p>
        11.2. В случае нарушения Пользователем условий Договора, «OMNITRADE B LTD» вправе приостановить оказание Услуг до момента устранения
        Пользователем допущенных нарушений и возмещения причиненных «OMNITRADE B LTD» таким нарушением убытков в полном объеме и/или в
        одностороннем порядке расторгнуть Договор с направлением соответствующего уведомления Пользователю.
    </p>
    <p>
        11.3. В случае существенного нарушения Пользователем условий Договора, каковым признаются нарушение требований пунктов 2.2, 2.3
        и раздела 6 настоящей редакции Публичной Оферты, «OMNITRADE B LTD» вправе в одностороннем порядке расторгнуть Договор с направлением соответствующего
        уведомления Пользователю.
    </p>
    <p>
        11.4. «OMNITRADE B LTD» ни при каких обстоятельствах не несет ответственности за какие-либо действия/бездействие, третьих лиц,
        в частности, за любые убытки, вред деловой репутации, вред здоровью, причиненные Пользователю в результате сбоев программного обеспечения или оборудования,
        не принадлежащих «OMNITRADE B LTD», в результате недоступности отдельных сегментов сети Интернет (в том числе в связи с прекращением функционирования сайтов
        третьих лиц, в том числе правообладателей программного обеспечения/оборудования), в результате использования (невозможности использования)
        Пользователем выбранного им способа оплаты Услуг по Договору.
        <br><br>11.5. «OMNITRADE B LTD» также освобождается от ответственности за нарушение условий Договора, если такое нарушение вызвано
        действием обстоятельств непреодолимой силы (форс-мажор), включая: действия органов государственной власти, пожар, наводнение, землетрясение,
        другие стихийные действия, массовые отключения электроэнергии, забастовки, гражданские волнения, беспорядки, любые иные обстоятельства, которые
        могут повлиять на исполнение «OMNITRADE B LTD» Договора и неподконтрольные «OMNITRADE B LTD».
    </p>
    <p>
        11.6. Совокупная ответственность «OMNITRADE B LTD» по Договору, ограничивается денежной суммой, уплаченной Пользователем по Договору в
        качестве оплаты за потребляемые Услуги.
        <br><br><strong>12. ПРОЧИЕ УСЛОВИЯ </strong>
    </p>
    <p>
        12.1. Договор, его заключение и исполнение регулируется в соответствии с действующим законодательством Российской Федерации и международными законами.

        Все вопросы, не урегулированные Публичной Офертой или урегулированные не полностью, регулируются в соответствии с материальным правом Российской Федерации
        и международными законами.
        В случае разногласий между Пользователем и «OMNITRADE B LTD» в отношении Договора, которые не могут быть разрешены путем переговоров сторон,
        урегулируются в порядке, предусмотренном действующим законодательством. Если иное не предписано действующим законодательством,
        рассмотрение споров, в том числе в судебном порядке, производится по месту государственной регистрации «OMNITRADE B LTD».
    </p>
    <p>12.2. Любые уведомления по Договору считаются сделанными в надлежащей форме и полученными другой стороной если:</p>
    <p>
        12.2.1. направляются от «OMNITRADE B LTD» Пользователю (1) по адресу электронной почты Пользователя указанному им при регистрации с адреса
        электронной почты «OMNITRADE B LTD» – на следующие сутки после отправки электронного сообщения, (2) размещены в качестве официальной информации на сайте
        <a href="https://busmansoft.com/">https://busmansoft.com/</a>
        – по истечении трех рабочих дней после размещения.
    </p>
    <p>
        12.2.2. направляются от Пользователя в адрес «OMNITRADE B LTD» (1) по почтовому адресу, указанному в конце текста текущей редакции Публичной Оферты,
        заказным письмом с уведомлением о вручении, (2) по факсу, указанному в конце текста текущей редакции Публичной Оферты – с
        момента подтверждения приема факсимильного сообщения со стороны «OMNITRADE B LTD».
    </p>
    <p>12.3 Персональные данные</p>
    <p>
        12.3.1 Регистрируясь на сайте и потребляя услуги, приобретая неисключительные права пользователь как субъект персональных данных
        предоставляет  ««OMNITRADE B LTD»» («оператор») свои персональные данные. В целях надлежащего исполнения настоящего договора, а также в
        иных законных целях, оператор хранит, обрабатывает, в том числе передает персональные данные третьим лицам. В
        связи с тем, что сайт использует виджеты социальных сетей, а также cookie некоторых иностранных служб аналитики, например,
        Google Analytics, передача ограниченного набора данных, таких как псевдоним пользователя и адрес устройства пользователя и его технические характеристики,
        посредством которого пользователь зашел на сайт, может носить трансграничный характер, о чем пользователь уведомлен, и с чем выражает согласие.
    </p>
    <p>
        12.3.2 Обработка персональных данных включает в себя совершение действий, предусмотренных пунктом 3 части первой статьи
        3 Федерального закона от 27 июля 2006 года № 152-ФЗ «О персональных данных», включая, но не ограничиваясь:

        сбор, систематизацию, накопление, хранение, обновление, изменение, использование, обезличивание, блокирование, уничтожение, а также осуществление
        любых иных действий с персональными данными, предусмотренных действующим законодательством Российской Федерации и международных законов.
        Оператор вправе обрабатывать персональные данные пользователя посредством внесения их в электронные базы данных, включения в списки (реестры) и
        отчетные формы, предусмотренные документами, регламентирующими предоставление отчетных данных (документов). Обработка персональных данных может быть,
        как автоматизированная, так и без использования средств автоматизации. Цели сбора, а также основные направления деятельности в области обработки и защиты
        персональных данных подробнее изложены в Политике  ««OMNITRADE B LTD»», доступной для ознакомления по адресу <a href="https://busmansoft.com/">https://busmansoft.com/</a>.
    </p>
    <p>
        12.3.3 Путем акцепта оферты пользователь также дает явное согласие на получение рекламно-информационных
        сообщений и материалов, рассылаемых по электронной почте, мобильному телефону, SMS, в том числе от партнеров администрации сайта.
        Указанное согласие действует до момента его отзыва.
    </p>
    <p>
        12.3.4 Хранение персональных данных в указанных целях может осуществляться в срок до 5 (пяти) лет, если иное не установлено законодательством.
        Отзыв согласия осуществляется предоставлением оператору по адресу его места нахождения подлинника
        такого отзыва или скан-письма
    </p>
    <p>
        12.4. Договор представляет собой полную договоренность между «OMNITRADE B LTD» и Пользователем. «OMNITRADE B LTD» не
        принимает на себя никаких условий и обязательств в отношении предмета Публичной Оферты, помимо прямо указанных в тексте Публичной Оферты,
        за исключением случая, когда такие условия или обязательства зафиксированы в письменном виде и подписаны Пользователем и «OMNITRADE B LTD».
    </p>
    <p>
        12.5. Если какое-либо из условий Публичной Оферты признано недействительным или незаконным, или не может вступить в силу
        в соответствии с действующим законодательством, такое положение должно быть выделено из Публичной Оферты и заменено новым положением,
        максимально отвечающим изначальным намерениям, содержавшимся в Публичной Оферте, при этом остальные положения Публичной Оферты (Договора)
        не меняются и остаются в силе.
    </p>
    <p><strong>13. Реквизиты «OMNITRADE B LTD» </strong></p>

    <i><b> ««OMNITRADE B LTD»» </b></i>
    <p>Адрес :8230,гр. НЕСЕБЪР ул. ЛЮБЕН КАРАВЕЛОВ 24</p>
    <p>UniCredit Bulbank, гр.София, район "Възраждане", пл. "Света Неделя" №7</p>

    <p>USD: IBAN BG34UNCR70001523579525</p>
    <p>EUR: IBAN BG29UNCR70001523551582</p>
    <p>BIC:UNCRBGSF</p>

    <p>+7-962-900-79-65</p>
    Тел. (Болгария) +359884604977   <br>
    E-mail: <a href="mailto:fasgetz@yandex.ru">fasgetz@yandex.ru</a>
    <br>

</div>