
<h3>Условия возврата денежных средств</h3>

<div class="container-fluid">


    <div class="blue_block">
        <p>
            Мы предлагаем 5-дневную гарантию возврата средств за подписку на «BusManSoft».
            В течение 5 дней с момента оплаты вами Сервиса, вы вправе запросить у «ОРГАНИЗАЦИЯ»
            возврат остатка ваших денежных средств, неизрасходованных вами за данный период использования сервиса.
            В случае приобретения годовых тарифов, мы обязуемся вернуть вам часть суммы, внесенной вами в качестве оплаты тарифа,
            пропорционально неиспользованному времени, оставшемуся после обращения к нам за возвратом средств. П
            ри этом вы должны указать в запросе причину для возврата денег.
        </p>        
        <p>
            Возврат средств происходит только в том случае, если клиент в период использования пользователь не нарушил ни один из пунктов условий оферты
            <a href="https://busmansoft.com/Oferta/Oferta">оферта</a>.
        </p>
        <p>Период рассмотрения заявки – 3-5 дней с даты отправки запроса.</p>
    </div>
    <h2>Ваш запрос должен содержать:</h2>
    <div class="content">
        <ul class="circle">
            <li>Номер заказа, по которому вы хотите получить возврат средств</li>
            <li>Подробное описание проблемы и причины запроса возврата.</li>
        </ul>
    </div>
    <h2>Процедура рассмотрения запросов на возврат:</h2>
    <div class="content">
        <p>Каждый запрос рассматривается индивидуально, в порядке очереди, и его рассмотрение занимает время. Менеджер, занимающийся возвратами, будет предоставлять вам информацию о статусе рассмотрения вашего запроса.</p>
        <p>После того, как ваш запрос на возврат будет одобрен, менеджер сообщит вам об этом. Сам процесс возврата может занять до нескольких недель, в зависимости от метода оплаты, вашего банка и других причин.</p>
        <p><b>Ошибочная оплата обрабатывается таким образом:</b></p>
        <ul class="circle">
            <li>отправьте запрос на возврат путем создания тикета в вашем Личном кабинете;</li>
            <li>укажите оба номера заказа. Первым укажите номер заказа, по которому вы хотите получить возврат.</li>
        </ul>
    </div>
    <h2>Мы оставляем за собой право отказать в возврате средств:</h2>
    <div class="content">
        <ul class="circle">
            <li>если в заявке на возврат вы указали метод возврата средств отличный от метода пополнения счета или оплаты Сервиса</li>
            <li>
                в случае нарушения Вами требований применимого законодательства, условий договора или Правил пользования сервисом, а также
                использования «BusManSoft» для неправомерных, незаконных и запрещенных действий, или
            </li>
            <li>если не указана причина возврата средств.</li>
        </ul>
    </div>
    <h2>Условия возврата денежных средств</h2>
    <div class="content">
        <p>Возврат осуществляется при удовлетворении одного из следующих условий:</p>
        <ul class="circle">
            <li>после окончания 7-дневного периода с момента заключение договора и оплаты сервиса, пользователь не воспользовался Сервисом,</li>
            <li>
                если Вы ошибочно/повторно оплатили доступ к Сервису или оплатили его в большем размере, ч
                ем требовалось согласно применяемому тарифу, или
            </li>
            <li>
                если мы уведомим вас о внесении изменений в Лицензионное соглашение с
                конечным пользователем, которое мы заключили с вами, и вы выскажете возражение против таких изменений в
                течение 10 дней с даты такого уведомления. В таком случае мы обязуемся вернуть вам часть суммы, внесенной вами за
                Сервис, пропорционально неиспользованному времени, оставшемуся после даты аннулирования.
            </li>
        </ul>
        <p>В иных случаях, возврат средств осуществляется по усмотрению «ОРГАНИЗАЦИЯ».</p>
        <p>В случае, когда действие вашего аккаунта приостановлено, или заблокирован личный кабинет сервиса 
        по причине жалоб на спам, злоупотребления массовыми рассылками, мы оставляем за собой право не производить возврат денежных средств.</p>
        <p>Аккаунты с высоким процентом жалоб приостанавливаются или блокируются без права на возврат денежных средств.</p>
    </div>
    <h2>Порядок возврата денежных средств</h2>
    <div class="content">
        <p>Возврат денег производится тем же способом, которым совершена покупка. Мы всегда возвращаем 
        средства только по тому способу оплаты, по которому мы получили от Вас средства. Например, если Вы оплатили Сервис 
        картой VISA/MASTERCARD, возврат средств осуществляется путем отмены транзакции (refund) и, в результате этого, возврат 
        может быть осуществлен только на Вашу карту VISA/MASTERCARD. Сроки возврата зависят от того, какой способ оплаты использовался.</p>
        <p>
            При оформлении возврата может удерживаться сервисный сбор или комиссия банка\платежной
            системы за возврат средств, которые удерживаются из суммы, подлежащей возврату.
        </p>
    </div>

</div>