<form id="form">
    <div>
        <h1 class="text-center">Добавление категории продуктов</h1>
        <div class="form-group">
            <label class="control-label">Название</label>
            <input name="Name" v-model="postBody.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="control-label">Выберите постер категории</label>
            <div class="custom-file">
                <input accept="image/x-png,image/gif,image/jpeg" v-on:change="ImageLoad" type="file" class="custom-file-input" id="myInput" aria-describedby="myInput">
                <label class="custom-file-label" for="myInput">{{ FileName }}</label>
            </div>
        </div>
        <div class="form-group text-center">
            <input v-on:click="addProduct" class="btn btn-primary" type="submit" />
        </div>
    </div>

</form>


<script>
    var AddCategory = new Vue({
        el: '#form',
        data: () => ({
            postBody: {
                Name: null

            },
            FileName: 'Выберите файл',
            file: null
        }),
        methods: {
            addProduct: function (event) {
                event.preventDefault();

                let formData = new FormData();
                formData.append('file', this.file);
                formData.append('Name', this.postBody.Name);

                console.log('>> formData >> ', formData);



                axios.post((urlApi + 'api/category/AddCategory'),
                    formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    }
                })
                    .then(function (response) {
                        window.location.href = urlApp + "AdminCategories"
                        console.log(response);
                    })
                    .catch(function (response) {
                        //$("#form").validate({
                        //    rules: {
                        //        Name: {
                        //            required: true,
                        //            minlength: 5
                        //        },
                        //        idSubCategoryProduct: {
                        //            required: true
                        //        },
                        //        Price: {
                        //            required: true,
                        //            range: [1, 1000000]
                        //        },
                        //        Amount: {
                        //            required: true,
                        //            range: [1, 1000000]
                        //        }
                        //    },
                        //    messages: {
                        //        Name: {
                        //            required: "Поле обязательно для заполнения",
                        //            minlength: jQuery.validator.format("Длина имени должна быть больше 5-ти символов")
                        //        },
                        //        idSubCategoryProduct: {
                        //            required: "Поле обязательно для заполнения"
                        //        },
                        //        Price: {
                        //            required: "Поле обязательно для заполнения",
                        //            range: jQuery.validator.format("Введите стоимость в пределе 1 ... 1000000")
                        //        },
                        //        Amount: {
                        //            required: "Поле обязательно для заполнения",
                        //            range: jQuery.validator.format("Введите количество в пределе 1 ... 1000000")
                        //        }
                        //    }
                        //});
                    });
            },
            ImageLoad: function (event) {

                var file = document.getElementById("myInput").files[0];
                this.FileName = file.name;
                this.file = file;
            }

        }
    });
</script>