
@*<form id="form">
    <div>
        <h1 class="text-center">Редактирование категории продуктов</h1>
        <div class="form-group">
            <label class="control-label">Название</label>
            <input id="IdCategory" name="IdCategory" v-model="postBody.IdCategory" />
            <input id="nameCategory" name="Name" v-model="postBody.Name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="control-label">Выберите постер категории</label>
            <div class="custom-file">
                <input accept="image/x-png,image/gif,image/jpeg" v-on:change="ImageLoad" type="file" class="custom-file-input" id="myInput" aria-describedby="myInput">
                <label class="custom-file-label" for="myInput">{{ FileName }}</label>
            </div>
        </div>
        <div class="form-group text-center">
            <input v-on:click="editCategory" class="btn btn-primary" value="Сохранить" type="submit" />
        </div>
        <div class="form-group text-center mt-1">
            <input class="btn btn-primary" value="Удалить" type="submit" />
        </div>
    </div>
</form>*@



<div id="app">
    <edit-category id="@ViewBag.id" name="@ViewBag.name"></edit-category>
</div>

<script src="~/js/Admin/Category/Categories.js" charset="utf-8"></script>
<script>
    var categories = new Vue({
        el: '#app',
 
    });
</script>