@{
    ViewData["Title"] = "Категории";
    Layout = "_AdminLayout";
}

<div id="Categories">
    <h1 class="text-center">Список категорий</h1>
    <div>
        <div class="AddCategory container-fluid p-0">
            <div class="row">
                <div class="col-1 pr-0" v-if="category != null">
                    <button v-on:click="EditCategoryPartial" class="btn w-100"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                    @*<input class="btn btn-primary w-100" type="button" name="name" value="EDIT" />*@
                </div>
                <div v-bind:class="[category != null ? 'col-10 pl-0' : 'col-11']" class="pr-0">
                    <select v-model="category" class="form-control">
                        <option v-bind:value="item" v-for="item in data">{{ item.name }}</option>
                    </select>
                </div>
                <div class="col-1 pl-0">
                    <input v-on:click="AddCategoryPartial" type="button" class="btn btn-primary w-100" value="+" />
                </div>
            </div>
        </div>
    </div>
    <div v-if="category != null" class="subcategories container-fluid p-0">
        <h2 class="text-center">Подкатегории товаров</h2>
        <div class="categories__table">
            <div class="category__item__header container-fluid">
                <div class="row text-center">
                    <div class="col-2 category__item__id">
                        Id
                    </div>
                    <div class="col-6 category__item__name">
                        Название
                    </div>
                    <div class="col-4 category__item__poster">
                        Постер
                    </div>
                </div>
            </div>
            <div v-for="item in category.subCategoryProduct" class="category__item container-fluid">
                <a href="#">
                    <div class="row text-center">
                        <div class="col-2 category__item__id align-self-center">
                            {{item.id}}
                        </div>
                        <div class="col-6 category__item__name align-self-center">
                            {{item.name}}
                        </div>
                        <div class="col-4 category__item__poster align-self-center">
                            <img v-bind:src="getImage(item.poster)" />
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="category__item__addButton text-center">
            <input v-on:click="AddSubCategoryPartial" type="button" class="btn btn-success" value="Добавить" />
        </div>
    </div>
</div>


@section Css {
    <link href="~/css/Admin/categories.css" rel="stylesheet" />
}

@section Scripts {

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

    <script>

        var Categories = new Vue({
            el: '#Categories',
            data: () => ({
                data: null,                
                category: null,
                body: {
                    CategoryProduct: null
                }
            }),
            mounted() {
                axios
                    .get(urlApi + 'api/category/Get')
                    .then(
                        response => {
                            this.data = response.data;
                        });
            },
            methods: {
                getImage: function (array) {
                    return 'data:image/jpg;base64, ' + array
                },
                AddCategoryPartial() {

                    axios.get(('AdminCategories/AddCategory'))
                        .then(
                            response => {
                                $("#Categories").html(response.data);
                            });
                },
                AddSubCategoryPartial() {

                    axios.get(('AdminCategories/AddSubCategory'))
                        .then(
                            response => {
                                $("#Categories").html(response.data);
                            });
                },
                EditCategoryPartial() {
                    axios.get(('AdminCategories/EditCategory'), {
                        params: {
                            id: this.category.id,
                            name: this.category.name
                        }
                    })
                        .then(
                            response => {
                                $("#Categories").html(response.data);
                                //$("#Categories #nameCategory").attr("value", this.category.name);
                                //$("#Categories #IdCategory").attr("value", this.category.id);
                                
                            });
                }
            }
        });


    </script>

}
