@model WebSiteProductMarket.Identity.User

<div class="dropdown open">
    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Model.UserName
        @if (Model.ProfileImage != null)
        {
            <img id="mainAvatar" class="auth__div_img" src="data:image;base64, @System.Convert.ToBase64String(Model.ProfileImage)" alt="Аватарка" />
        }
        else
        {
            <img class="auth__div_img" src="~/Images/avatar.png" alt="Аватарка" />
        }
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a asp-controller="Profile" asp-action="Index" class="dropdown-item">Профиль</a>
        <a class="dropdown-item basket-menu" asp-controller="Basket" asp-action="Payment">Корзина <i class="fa fa-shopping-basket"></i></a>
        @if (User.IsInRole("Администратор"))
        {
            <a asp-controller="Admin" asp-action="Index" class="dropdown-item">Панель Администратора</a>
        }
        <div class="dropdown-divider"></div>
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input class="dropdown-item" type="submit" value="Выход" />
        </form>
    </div>
</div>