@model string

@section Css {

    <link href="~/css/Products/productItem.css" rel="stylesheet" />
    <link href="~/css/search/searchCategory.css" rel="stylesheet" />
}




<div id="productsData" class="products-block">
    <h1 class="products-block__title">Поиск по названию продукта: {{name}}</h1>
    <div class="container-fluid">
        <transition-group name="list" tag="div" class="row">
            <product v-if="products.length > 0" v-for="item in products" v-bind:key="item.id" :data="item"></product>
            <div v-else class="products-block__not-found-block">
                <h2>Нет продуктов в базе данных по названию <span>{{name}}</span></h2>
            </div>
        </transition-group>
    </div>
</div>





@section Scripts {

    <script src="~/js/Components/ProductComponent.js"></script>
    <script>
        var productsApp = new Vue({
            el: '#productsData',
            data: () => ({
                products: null,
                name: '@Model'
            }),
            mounted() {

                axios.get((urlApi + 'api/product/searchName'), {
                    params: {
                        name: '@Model'
                    }
                })
                    .then(
                        response => {
                            this.products = response.data;
                        });
            },
            methods: {

            }
        });
    </script>

}