@model WebSiteProductMarket.Models.ViewModels.Search.SearchData

@section Css {

    <link href="~/css/Products/productItem.css" rel="stylesheet" />
    <link href="~/css/search/searchCategory.css" rel="stylesheet" />
}




<div id="productsData" class="products-block">
    <h1 v-if="name != null" class="products-block__title">Поиск по названию продукта: @Model.name</h1>
    <div v-if="products.length > 0" class="container-fluid">
        <transition-group  name="list" tag="div" class="row">
            <product v-for="item in products" v-bind:key="item.id" :data="item"></product>
        </transition-group>
    </div>
    <div v-else class="products-block__not-found-block">
        <h2>Нет продуктов в базе данных</h2>
    </div>
    <div class="buttons-navigations text-center mt-3">
        <a v-if="page > 0" class="btn btn-outline-primary m-5" v-bind:href="'/search?name='+ name + '&page=' + (page - 1) + '&count=' + count">НАЗАД</a>
        <a v-if="products.length == count" class="btn btn-outline-primary m-5" v-bind:href="'/search?name='+ name + '&page=' + (page + 1) + '&count=' + count">ВПЕРЕД</a>
    </div>
</div>






@section Scripts {

    <script src="~/js/Components/ProductComponent.js"></script>
    <script>
        var productsApp = new Vue({
            el: '#productsData',
            data: () => ({
                products: null,
                name: null,
                page: null,
                count: null
            }),
            mounted() {
                this.name = '@Model.name'
                this.page = @(Model.page)
                this.count = @(Model.count)


                axios.get((urlApi + 'api/product/searchName'), {
                    params: {
                        name: this.name,
                        page: this.page,
                        count: this.count
                    }
                })
                    .then(
                        response => {
                            this.products = response.data;
                        });
            },
            methods: {

            }
        });
    </script>

}