/* Слайдер */
.carousel-inner img {

  height: 500px;
}

@media screen and (max-width: 767.98px) {

    .carousel-inner img {
        height: 350px;
    }
}

@media screen and (max-width: 429.98px) {

    .carousel-inner img {
        height: 200px;
    }
}


/* Товары */

.products-block {
    margin-top: 20px;
}


