/* Слайдер */
.carousel-inner img {

  height: auto;
}


/*
@media screen and (max-width: 767.98px) {
    .carousel-inner img {
        height: auto;
    }
}

@media screen and (max-width: 429.98px) {

    .carousel-inner img {
        height: auto;
    }
}*/


/* Товары */

.products-block {
    margin-top: 20px;
}

.products-block h2 a:hover {
    text-decoration: none;
}


