/* Слайдер */

.carousel-inner img {

  height: 500px;
}


/* Товары по акции */

.DiscountBlock {
    margin-top: 20px;
}

/* Карточка товаров */

.Product {
    border: 1px solid #ececec;
    padding: 25px;
}


.Product__procent {
    margin-top: 10px;
    margin-bottom: 10px;
}

    .Product__procent span {
        border: 1px solid grey;
        background: lightgreen;
        padding: 5px;
        color: white;
    }


.Product__Poster img {
    width: 150px;
    height: 100%;
}

.Product__title {
    font-weight: bold;
}

.Product__count {
    margin-top: 10px;
}

    .Product__count span, .Product__price span {
        font-weight: bold;
    }

.Product__price .oldPrice {
    color: grey;
    text-decoration: line-through
}

.Product__economy {
    margin-top: 10px;
}

.Product__economy__procent {
    border: 1px solid grey;
    background: #ffd83a;
    color: grey;
}

.Product__economy {
    border-bottom: 1px solid #ececec;
    padding-bottom: 20px;
}


.Product:hover {
    -moz-box-shadow: 3px 1px 10px #777;
    -webkit-box-shadow: 3px 1px 10px #777;
    box-shadow: 3px 1px 10px #777;
}

.Product__basket {
    margin-top: 20px;
}

    .Product__basket .btn {
        border-radius: 0
    }

.basket__detail span {
    margin-top: 0px;
}

/* Конец карточки продукта */