
#accordion .link img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 5px;
}



.submenu__count__img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-left: 5px;
}

/* Секция авторизации */
.auth__div {
    height: 44px;
}

#dropdownMenuButton {
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
}



.auth__div_img {
    border-radius: 50px;
    width: 42px;
    height: 42px;
}

/* */


/* Модальное окно входа / регистрации */

.modal-close .close {
    margin: 5px;
    font-size: 40px;
}

.modal-header .btn {
    border: 1px solid #e7e9eb;
}

.basket-menu i {
    font-size: 25px;
    margin-left: 5px;
}


/* Header */
.header nav {
    border-bottom: 1px solid #ededed;
    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
}

/* End Header *

/* Меню */

.menu {
  width: 15.67%;
}

.body .menu .accordion {
  position: fixed;
  width: inherit; /*change here*/
  height: 100%;
  overflow: auto;
}

.menu .navbar-toggler {
  float: right;
}

.navbar {
  background: #ffffff;
}

nav .auth .btn {
  background: #ffffff;
  border: 1px solid #d0d2d4;
  height: 48px;
  width: 100px;
}

nav .auth .btn:hover {
  background: #f3f4f7;
}

/* Скролл бар */

::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px
}

::-webkit-scrollbar-track {
background-color:#ecedee
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#6dc0c8;
}

::-webkit-scrollbar-thumb:hover{
background-color:#56999f;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}

::-webkit-scrollbar{
width: 4px;
}

/* Медиа запросы к мобильным устройствам */

@media screen and (max-width: 767.98px) {



  .menu {
    width: 100%;
  }

  .body .menu .accordion {
    position: relative;
    width: inherit; /*change here*/
    height: auto;
    overflow: auto;
  }

  .body .menu .submenu .row {
    padding: 0;
    margin: 0;
  }

}

@media screen and (max-width: 429.98px) {

  .body {
    margin-top: 96px;
  }


}






.body {
    margin-top: 60px;
}


/* Блок поиска товаров */

.search-block {
    padding-top: 10px;
    border: 1px solid #ced4da;
    padding-bottom: 10px;
}

/* Иконка*/
    .search-block span {
        padding-top: 5px;
        font-size: 20px;
        width: 38px;
        height: 38px;
        border: 1px solid #ced4da;
    }

/* Поле ввода */

    .search-block input {
        padding-left: 10px;
        height: 38px;
    }
