.categories__table {
    background: #F7F7F7;
    border-radius: 3px;
    border: 1px solid black;
    margin-top: 10px;
}

.AddCategory i {
    font-size: 25px;
}

.subcategories {
    margin-top: 20px;
}

.category__item__header {
    background: #3a75c4;
    font-size: 22px;
}

.category__item {
    border: 1px solid black;
    font-size: 16px;
}

    .category__item:hover {
        background-color: rgba(0,0,0,.2);
    }

    .category__item a {
        color: black;
    }

    .category__item a:hover {
        text-decoration: none;
    }

.category__item__poster img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 5px;
}

.category__item__addButton {
    margin: 5px;
}