@{
    ViewData["Title"] = "Home Page";
}

@section Css {
    <link href="~/css/Index.css" rel="stylesheet" />
}

<section>
    <div class="container">
        <div>
            <div id="carouselExampleIndicators" data-pause="hover" class="carousel slide" data-interval="5000" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="Images/p1.jpg" alt="Первый слайд">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Скидка на первый заказ</h3>
                            <p>Закажите прямо сейчас и получите скидку в размере <span>10%</span> на первый заказ!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="Images/p2.jpg" alt="Второй слайд">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Быстрая доставка продуктов из магазина</h3>
                            <p>Зарегистрируйтесь и заказывайте продукты на дом!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="Images/p3.jpg" alt="Третий слайд">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Возможность оплаты у курьера</h3>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="DiscountBlock">
        <h3>Товары по акции</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl Product">
                    <div class="Product__procent">
                        <span>20%</span>
                    </div>
                    <div class="Product__Poster text-center">
                        <img src="Images/product.jpg" alt="Product">
                    </div>
                    <div class="Product__title text-center">
                        Сыр Моцарелла 45% 125г Гальбани Президент
                    </div>
                    <div class="Product__count">
                        <span>213</span> в наличии!
                    </div>
                    <div class="Product__price">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-7 p-0"><span>120</span> руб/шт</div>
                                <div class="col p-0 oldPrice">149 руб.</div>
                            </div>
                        </div>
                    </div>
                    <div class="Product__economy">
                        <span class="Product__economy__procent">-20%</span> <span class="Product__economy__info">Экономия 29 руб.</span>
                    </div>
                    <div class="Product__basket">
                        <div class="container-fluid p-0">
                            <div class="row">
                                <div class="col p-0 basket__detail">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4 p-0"><input class="btn btn-primary w-100" type="button" value="-"></div>
                                            <div class="col-4 p-0 text-center d-flex align-items-center justify-content-center"><span>17</span></div>
                                            <div class="col-4 p-0"><input class="btn btn-primary w-100" type="button" value="+"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col p-0">
                                    <input class="btn btn-danger w-100" type="button" value="В КОРЗИНУ">
                                </div>
                            </div>
                            <div class="basket__totalSum">
                                <p class="text-center">120x6 = 720</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl Product">
                    <div class="Product__procent">
                        <span>20%</span>
                    </div>
                    <div class="Product__Poster text-center">
                        <img src="Images/product.jpg" alt="Product">
                    </div>
                    <div class="Product__title text-center">
                        Сыр Моцарелла 45% 125г Гальбани Президент
                    </div>
                    <div class="Product__count">
                        <span>213</span> в наличии!
                    </div>
                    <div class="Product__price">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-7 p-0"><span>120</span> руб/шт</div>
                                <div class="col p-0 oldPrice">149 руб.</div>
                            </div>
                        </div>
                    </div>
                    <div class="Product__economy">
                        <span class="Product__economy__procent">-20%</span> <span class="Product__economy__info">Экономия 29 руб.</span>
                    </div>
                    <div class="Product__basket">
                        <div class="container-fluid p-0">
                            <div class="row">
                                <div class="col p-0 basket__detail">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4 p-0"><input class="btn btn-primary w-100" type="button" value="-"></div>
                                            <div class="col-4 p-0 text-center d-flex align-items-center justify-content-center"><span>17</span></div>
                                            <div class="col-4 p-0"><input class="btn btn-primary w-100" type="button" value="+"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col p-0">
                                    <input class="btn btn-danger w-100" type="button" value="В КОРЗИНУ">
                                </div>
                            </div>
                            <div class="basket__totalSum">
                                <p class="text-center">120x6 = 720</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl Product">
                    <div class="Product__procent">
                        <span>20%</span>
                    </div>
                    <div class="Product__Poster text-center">
                        <img src="Images/product.jpg" alt="Product">
                    </div>
                    <div class="Product__title text-center">
                        Сыр Моцарелла 45% 125г Гальбани Президент
                    </div>
                    <div class="Product__count">
                        <span>213</span> в наличии!
                    </div>
                    <div class="Product__price">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-7 p-0"><span>120</span> руб/шт</div>
                                <div class="col p-0 oldPrice">149 руб.</div>
                            </div>
                        </div>
                    </div>
                    <div class="Product__economy">
                        <span class="Product__economy__procent">-20%</span> <span class="Product__economy__info">Экономия 29 руб.</span>
                    </div>
                    <div class="Product__basket">
                        <div class="container-fluid p-0">
                            <div class="row">
                                <div class="col p-0 basket__detail">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4 p-0"><input class="btn btn-primary w-100" type="button" value="-"></div>
                                            <div class="col-4 p-0 text-center d-flex align-items-center justify-content-center"><span>17</span></div>
                                            <div class="col-4 p-0"><input class="btn btn-primary w-100" type="button" value="+"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col p-0">
                                    <input class="btn btn-danger w-100" type="button" value="В КОРЗИНУ">
                                </div>
                            </div>
                            <div class="basket__totalSum">
                                <p class="text-center">120x6 = 720</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl Product">
                    <div class="Product__procent">
                        <span>20%</span>
                    </div>
                    <div class="Product__Poster text-center">
                        <img src="Images/product.jpg" alt="Product">
                    </div>
                    <div class="Product__title text-center">
                        Сыр Моцарелла 45% 125г Гальбани Президент
                    </div>
                    <div class="Product__count">
                        <span>213</span> в наличии!
                    </div>
                    <div class="Product__price">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-7 p-0"><span>120</span> руб/шт</div>
                                <div class="col p-0 oldPrice">149 руб.</div>
                            </div>
                        </div>
                    </div>
                    <div class="Product__economy">
                        <span class="Product__economy__procent">-20%</span> <span class="Product__economy__info">Экономия 29 руб.</span>
                    </div>
                    <div class="Product__basket">
                        <div class="container-fluid p-0">
                            <div class="row">
                                <div class="col p-0 basket__detail">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4 p-0"><input class="btn btn-primary w-100" type="button" value="-"></div>
                                            <div class="col-4 p-0 text-center d-flex align-items-center justify-content-center"><span>17</span></div>
                                            <div class="col-4 p-0"><input class="btn btn-primary w-100" type="button" value="+"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col p-0">
                                    <input class="btn btn-danger w-100" type="button" value="В КОРЗИНУ">
                                </div>
                            </div>
                            <div class="basket__totalSum">
                                <p class="text-center">120x6 = 720</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl Product">
                    <div class="Product__procent">
                        <span>20%</span>
                    </div>
                    <div class="Product__Poster text-center">
                        <img src="Images/product.jpg" alt="Product">
                    </div>
                    <div class="Product__title text-center">
                        Сыр Моцарелла 45% 125г Гальбани Президент
                    </div>
                    <div class="Product__count">
                        <span>213</span> в наличии!
                    </div>
                    <div class="Product__price">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-7 p-0"><span>120</span> руб/шт</div>
                                <div class="col p-0 oldPrice">149 руб.</div>
                            </div>
                        </div>
                    </div>
                    <div class="Product__economy">
                        <span class="Product__economy__procent">-20%</span> <span class="Product__economy__info">Экономия 29 руб.</span>
                    </div>
                    <div class="Product__basket">
                        <div class="container-fluid p-0">
                            <div class="row">
                                <div class="col p-0 basket__detail">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4 p-0"><input class="btn btn-primary w-100" type="button" value="-"></div>
                                            <div class="col-4 p-0 text-center d-flex align-items-center justify-content-center"><span>17</span></div>
                                            <div class="col-4 p-0"><input class="btn btn-primary w-100" type="button" value="+"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col p-0">
                                    <input class="btn btn-danger w-100" type="button" value="В КОРЗИНУ">
                                </div>
                            </div>
                            <div class="basket__totalSum">
                                <p class="text-center">120x6 = 720</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="newProducts">
    <div class="DiscountBlock">
        <h3>Новые товары</h3>
        <div class="container-fluid">
            <div class="row">
                <product v-for="item in data" :data="item"></product>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/Components/ProductComponent.js"></script>
    <script>
        var newProducts = new Vue({
            el: '#newProducts',
            data: () => ({
                data: null
            }),
            mounted() {
                axios.get((urlApi + 'api/product/newsProduct'), {
                    params: {
                        count: 5
                    }
                })
                    .then(
                        response => {
                            this.data = response.data;
                        });
            },
            methods: {
                getImage: function (array) {
                    return 'data:image/jpg;base64, ' + array
                }
            }
        });
    </script>

}