@{
    ViewData["Title"] = "Contacts";
}


<div class="container-fluid">
    <h3><strong>«OMNITRADE B LTD» </strong></h3>


    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae710b4bbe79e05a37d805f9b0e27a23db6b289075cdb9f3460241f3429607349&amp;width=644&amp;height=580&amp;lang=ru_RU&amp;scroll=true"></script>

    <p>Адрес :8230,гр. НЕСЕБЪР ул. ЛЮБЕН КАРАВЕЛОВ 24</p>
    <p>UniCredit Bulbank, гр.София, район "Възраждане", пл. "Света Неделя" №7</p>

    <p>USD: IBAN BG34UNCR70001523579525</p>
    <p>EUR: IBAN BG29UNCR70001523551582</p>
    <p>BIC:UNCRBGSF</p>

    <p>+7-962-900-79-65</p>
    Тел. (Болгария) +359884604977
    <br>
    E-mail: <a href="mailto:fasgetz@yandex.ru">fasgetz@yandex.ru</a>
    <br>

</div>