.products__table__header {
    border: 1px solid black;
    background: #f7f7f7;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}

@media screen and (max-width: 767.98px) {

    * {
        font-size: 90%;
    }
}


.products__table__items .row {
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.products__table__items {
    background: #f8f7f700;
    font-size: 16px;    
}

.products__table img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 5px;
}

.products__table a {
    text-decoration: none;
    color: black;
}

.products__table__items .row:hover {
    background-color: rgba(0,0,0,.2);
}

.form-group__image img {
    width: 300px;
    height: 100%;
}

.form-group_buttons {
    margin-top: 15px;
}


/* Скидки продуктов */

/* Edit Product */


.discount-product__list {
    margin-top: 10px;
    margin-bottom: 50px;
}

    .discount-product__list .discount-product__list__item:hover {
        background-color: rgba(0,0,0,.1);
    }

.selected {
    background-color: rgba(0,0,0,.1);
}

.discount-product__list__header {
    font-size: 20px;
    background-color: rgba(0,0,0,.2);
}

.discount-product__list__item {
    font-size: 18px;
}
